.cartitems 
{
    box-shadow: 0px 22px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    width: 50%;
}

.cartitems img {
    width: 30%;
    margin-left: 280px;
}

.cartitems .price {
    margin-left: 10px;
    text-align: center;
}

.cartitems .pname {
    text-align: center;
}

.countHandler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countHandler input {

    width: 25px;
}

.countHandler button {

    width: 20px;
    background-color: black;
    color: white;
}